# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environments
.venv/
venv/
.export-env/

# YOLO/Ultralytics outputs
runs/

# Model weights / large binaries (we'll keep only final ones later if needed)
*.pt
*.onnx
*.tflite

# OS / editor stuff
.DS_Store
.vscode/

# Datasets
datasets/
data/

# Allow committed final models in models/ (override the *.pt rule)
!models/
!models/*/
!models/**/*.pt
!models/**/*.onnx
!models/**/*.tflite

# Quantization helpers 
quantization_helpers/

